# Environments
venv/

# Parameters
parameters/**
!parameters/evaluateResults_sampleParameters.txt
!parameters/getDataInstance_sampleParameters.txt
!parameters/solve_sampleParameters.txt
!parameters/saveDistanceMatrix_sampleParameters.txt

# Byte-compiled / optimized / DLL files
app/**/__pycache__
